* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html, body {
  background-color: #111;
}

body {
  margin: 5px;
}

button {
  cursor: pointer;
  color: gold;
  border: 2px solid gold;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
}

.title {
  color: gold;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.song-btn {
  margin: 2px;
}

.video {
  display: block;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form > label {
  color: gold;
  font-size: 1.25rem;
}

.form > input {
  border: 2px solid gold;
  background-color: transparent;
  width: 100px;
  height: 55px;
  padding: 0 10px;
  font-size: 1.25rem;
  border-radius: 10px;

  color: yellow;
}
.form > input::placeholder {
  color: gold;
  opacity: 0.5;
}

.sheet {
  position: relative;
  margin: auto;
  background-color: transparent;
  border: 2px solid gold;
  color: yellow;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.25rem;
  min-height: 100px;
  min-width: 400px;
  width: min-content;
}

.sheet > .sheet-page {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}

.sheet > .chord {
  background-color: gold;
  color: black;
  display: inline-flex;
  min-width: 50px;
  height: 50px;
  font-size: 1.75rem;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.sheet > .chord-next {
  opacity: 0.5;
}

.sheet .p-next {
  opacity: 0.5;
}



.hidden {
  display: none;
}